@using WebSiteTemplete.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/font-familyStyle.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body style="">
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="https://localhost:44368/Home/DashBoard" class="img logo rounded-sqaur mb-5" style=" background-color: #f8c539; background-image: url(../../images/LOGO3.gif);"></a>
                @if (ViewBag.UserType == "Owner")
                {
                    <ul class="list-unstyled components mb-5" style="direction:@Resource.Direction">
                        <li class="active">
                            <a href="#DashBoardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Statistics</a>
                            <ul class="collapse list-unstyled" id="DashBoardSubmenu">
                                <li>
                                    <a href="https://localhost:44368/Home/DashBoard">ShowDashBoard</a>
                                </li>
                                <li>
                                    <a href="https://localhost:44368/Home/GetOrderDetailsbyAdmin">ShowInNumbers</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#tblReportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Report</a>
                            <ul class="collapse list-unstyled" id="tblReportSubmenu">
                                <li>
                                    <a href="http://localhost:53656/Report/Index">ReportShopTailor    </a>
                                </li>
                                <li>
                                    <a href="http://localhost:53656/Report/Index">ReportFactoryTailor</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                else if (ViewBag.UserType == "admin")
                {
                    <ul class="list-unstyled components mb-5" style="direction:@Resource.Direction">
                        <li class="active">
                            <a href="#DashBoardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Statistics</a>
                            <ul class="collapse list-unstyled" id="DashBoardSubmenu">
                                <li>
                                    <a href="https://localhost:44368/Home/DashBoard">ShowDashBoard</a>
                                </li>
                                <li>
                                    <a href="https://localhost:44368/Home/GetOrderDetailsbyAdmin">ShowInNumbers</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#PermissionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Permission</a>
                            <ul class="collapse list-unstyled" id="PermissionSubmenu">
                                <li>
                                    <a href="https://localhost:44368/RoleViewModels/Index">Create    </a>
                                </li>
                                <li>
                                    <a href="https://localhost:44368/RoleViewModels/Index">Show</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#UserSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                            <ul class="collapse list-unstyled" id="UserSubmenu">
                                <li>
                                    <a href="https://localhost:44368/Account/Register">Create    </a>
                                </li>
                                <li>
                                    <a href="https://localhost:44368/UsersViewModels/Index">Show</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#CatagorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Catagory</a>
                            <ul class="collapse list-unstyled" id="CatagorySubmenu">
                                <li>
                                    <a href="https://localhost:44368/Tbl_Categories/Index">Create    </a>
                                </li>
                                <li>
                                    <a href="https://localhost:44368/Tbl_Categories/Index">Show</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#ColorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Color</a>
                            <ul class="collapse list-unstyled" id="ColorSubmenu">
                                <li>
                                    <a href="https://localhost:44368/Tbl_Colors/Index">Create    </a>
                                </li>
                                <li>
                                    <a href="https://localhost:44368/Tbl_Colors/Index">Show</a>
                                </li>
                            </ul>
                        </li>
                      
                    </ul>
                }


                <div class="footer">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="glyphicon glyphicon-heart " aria-hidden="true"></i> by <a href="https://localhost:44368/Home/DashBoard">العهاد</a>
                    </p>
                </div>

            </div>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto" style="direction:@Resource.Direction">
                            <li class="nav-item">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="container body-content" style="direction:@Resource.Direction">
                @RenderBody()

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
