
@{
    ViewBag.Title = "finance";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="col-12 px-0">
    <img src="/images/finance/finance_slid.jpg" style="width:100%;max-height:800px;">
</div>
<div class="col-12 pt-5 mt-5" style="background:#eef4d0">
    <div class="container">
        <div class="col-12 p-0 row">

            <div class="card text-center col-12 col-sm-12 col-md-12 col-lg-4">
                <img class="card-img-top" src="/images/finance/icon_1.png" alt="جميع خدماتنا التمويلية بصيغ التمويل الاسلامي وتخضع لهيئة الرقابة الشرعية و البنك" style="width: 30%;margin: 0 auto;border-radius: 100%;">
                <div class="card-body">
                    <!-- <h5 class="card-title clor-roban">للغالين على قلوبنا</h5>-->
                    <p class="card-text clor-roban">جميع خدماتنا التمويلية بصيغ التمويل الاسلامي وتخضع لهيئة الرقابة الشرعية و البنك </p>
                </div>
            </div>
            <div class="card text-center col-12 col-sm-12 col-md-12 col-lg-4">
                <img class="card-img-top" src="/images/finance/icon_2.png" alt="إعطاء عدة تمويلات خلال العام الواحد" style="width: 30%;margin: 0 auto;border-radius: 100%;">
                <div class="card-body">
                    <!-- <h5 class="card-title clor-roban">للغالين على قلوبنا</h5>-->
                    <p class="card-text clor-roban">إعطاء عدة تمويلات خلال العام الواحد وذلك بعد تحقق الشروط والأحكام</p>
                </div>
            </div>
            <div class="card text-center col-12 col-sm-12 col-md-12 col-lg-4">
                <img class="card-img-top" src="/images/finance/icon_3.png" alt="تقييم مالي واقتصادي لنشاط العميل" style="width: 30%;margin: 0 auto;border-radius: 100%;">
                <div class="card-body">
                    <!-- <h5 class="card-title clor-roban">للغالين على قلوبنا</h5>-->
                    <p class="card-text clor-roban">
                        تقييم مالي واقتصادي
                        <br>
                        لنشاط العميل
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-12 pb-5 ">
    <div class="container">
        <div class="col-12 p-0 row">

            <div class="col-12 px-0 text-center">

                <div class="mt-5">
                    <h2 style="text-align: right;">منتجات التمويل:</h2>
                    <p class="font-3 " style="text-align: right;">
                        * تمويل مواد غذائية
                        <br>
                        * تمويل سيارات
                        <br>
                        * تمويل مواد بناء

                        <br>
                        * تمويل أدوات كهربائية والكترونيات
                        <br>
                        * تمويل عن طريق عقد الإستصناع
                        <br>
                        * تمويل بصيغة المشاركة المتناقصة
                        <br>
                        * تمويل مشاريع صغيره وفقاً لصيغة البيع بالتقسيط

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-12 pb-5 " style="background:#eef4d0">
    <div class="container">
        <div class="col-12 p-0 row">

            <div class="col-12 px-0 text-center">

                <div class="mt-5">
                    <h2 style="text-align: right;">مميزات التمويل:</h2>
                    <p class="font-3 " style="text-align: right;">
                        - جميع خدماتنا التمويلية بصيغ التمويل الإسلامي ووفق أحكام الشريعة الاسلامية.
                        <br>
                        - أقساط مريحة (شهرية – موسمية) تراعي طبيعة دخلك.
                        <br>
                        - ضمانات بسيطة وميسرة تراعي إمكانياتك.
                        <br>
                        - دراسة مالية واقتصادية لمشروعك نمكنك من خلالها من تقييم حقيقي لإدارة مشروعك.
                        <br>
                        - يمكن سداد الأقساط عبر أي فرع لبنك القطيبي الأسلامي للتمويل الأصغر.
                        <br>
                        - المساهمة في تطوير مشروعك ومنحك تمويلات دورية بمبالغ أكبر، وبحسب احتياج النشاط
                        <br>
                        أو المشروع وقدرتك على السداد.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-12 pb-5 ">
    <div class="container">
        <div class="col-12 p-0 row">

            <div class="col-12 px-0 text-center">

                <div class="mt-5">
                    <h2 style="text-align: right;">شروط التمويل:</h2>
                    <p class="font-3 " style="text-align: right;">
                        *    التمويل بالتقسيط بالطريقة الإسلامية مـن السلع المملوكـة للبنك 100%
                        <br>
                        *    أن يكون مقدم طلب التمويل يمني ا لجنسيه ويمتلك هويـة
                        <br>
                        *    وطنية أصل أو جواز سفر أصل
                        <br>
                        *    سمعة العميل جيدة
                        <br>
                        *    عمر العميل لا يقـل عـن 18 سنة ولا يزيد عن 60 سنـة ويـكـون
                        <br>
                        *    مقدم طلب التمويل هو ( مالك النشاط وهو من يدير النشاط بنفسه
                        <br>
                        *    أن لا يكون على العميل تمـويل آخـر قـائم فـي أي مـؤسسة أو بنك آخر
                        <br>
                        *    قدرة العميل على السداد ( ا لقسط الشهري أقل أو يساوي صافي أرباح العميل الشهرية من النشاط )
                        <br>
                        *    أن يـكـون سـكـن العميل أو سـكـن الضـامـن مـلك أوكـلاهـمـا
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-12 pb-5 " style="background:#eef4d0">
    <div class="container">
        <div class="col-12 p-0 row">

            <div class="col-12 px-0 text-center">

                <div class="mt-5">
                    <h2 style="text-align: right;">الضمانات المطلوبة من (الضامن)  </h2>

                    <p class="font-3 " style="text-align: right;">

                        *   ضـمانة تجاريـة حـسـب المعـايير المعتمـدة فـي البنك والـمـعـايير كالتالي:-
                        <br>
                    </p><p class="mr-2 font-3" style="text-align: initial;margin-right: 18px;">
                        1-  مبلغ التمويل أقـل أو يـسـاوي 1,000,000 ريــال يمني يـلـزم تـوفـيـر ترخيص
                        <br>
                        مزاولة المهنة بالإضافة الى عقد ايجار مجدد
                        <br>
                        2-  في حالة مبلغ التمويل أكبر من 1,001,000 ريال يمني يلزم توفير سجل تجاري
                        <br>
                        مجدد وتكون الضمانة معمدة في الغرفة والمحكمة التجاريـة ومـعـززة بشيك
                        <br>
                        3-  نــشــاط قـائـم ويـمــارس نــشــاطــه لأكــثــر مـــن سـنـتـيـن
                        <br>
                        4-  الضامن هو نفسه مالك النشاط ويمتلك سجل تجاري او رخـصـه مـزاولـة مهنة سارية المفعول
                        <br>
                        5-  الضامـن يمتلك بـطـاقـة شخصية الكترونية أصـل أو جـواز سـفـر أصل
                        <br>
                        6-  سمعة الضامن جيدة ولديه القدرة على السداد في حال تعثر العميل عن سداد
                        <br>
                        الأقساط التي عليه

                    </p>
                    <p></p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-12 pb-5 mb-5">
    <div class="container">
        <div class="col-12 p-0 row">

            <div class="col-12 px-0 text-center">

                <div class="mt-5">
                    <h2 style="text-align: right;">الإشتراك في الخدمة</h2>
                    <div class="font-2 row" style="text-align: right;">
                        <div class="card  col-12 col-sm-12 col-md-12 col-lg-6" style="text-align: right;">
                            قم زيارة أقرب فرع للبنك باستخدام الخارطة
                            <br>
                            أو اتصل على الأرقام لمعرفة تقاصيل أكثر
                            <br>
                            تواصل مع مختص التمويل على الوتساب
                            <br><br>


                            <a class="mt-3   " style="display: flex;justify-content: flex-start; text-align: right;" href="https://api.whatsapp.com/send/?phone=967779310008">

                                <p class="mb-1 mt-2 "> تواصل مع مختص التمويل على الوتساب </p>
                                <p class="mb-1 mt-1 mx-2 "> <span class="fab fa-whatsapp font-5 p-1 rounded-circle" style="color: var(--second-color);width: 34px; height: 34px;"></span> </p>
                            </a>



                        </div>
                        <div class="card  col-12 col-sm-12 col-md-12 col-lg-6">
                            <a href="tel:02237777" style="color: #212529;">
                                <h2 class="font-4" style="text-align: right;">هاتف: 02237777</h2>
                            </a>
                            <a href="tel:02235417" style="color: #212529;">
                                <h2 class="font-4" style="text-align: right;"> هاتف: 02235417</h2>
                            </a>
                            <a href="tel:02235416" style="color: #212529;">
                                <h2 class="font-4" style="text-align: right;"> هاتف: 02235416</h2>
                            </a>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>
</div>