
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="col-12 p-0" id="fixing-margin-top"></div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators container mx-auto">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="#" data-delayedsrc="/images/sliders/bank_alqutaibi_slider_1.jpg" style="max-height: 800px;" class="d-block w-100" style="max-height: 800px;">
        </div>
        <div class="carousel-item">
            <img src="#" data-delayedsrc="/images/sliders/slider_2.jpg" style="max-height: 800px;" class="d-block w-100" style="max-height: 800px;">
        </div>
        <div class="carousel-item">
            <img src="#" data-delayedsrc="/images/sliders/slider_4.jpg" style="max-height: 800px;" class="d-block w-100" style="max-height: 800px;">
        </div>
        <div class="carousel-item">
            <img src="#" data-delayedsrc="/images/sliders/slider_3.jpg" style="max-height: 800px;" class="d-block w-100" style="max-height: 800px;">
        </div>
    </div>
    <div class="col-12 container">
        <button class="carousel-control-prev container" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="fas fa-chevron-circle-left font-8 rounded-circle" style="color:var(--main-color);background: var(--second-color);"></span>
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span> -->
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true">
              <span class=""></span>
            </span>
            <span class="visually-hidden">Next</span> -->
            <span class="fas fa-chevron-circle-right font-8 rounded-circle" style="color:var(--main-color);background: var(--second-color);"></span>
        </button>
    </div>
</div>
