@model IEnumerable<WebSiteTemplete.Models.PageInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browsing Genre: a</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.PageName,
    "MainManagement", new { id = item.ID })
        </li>
    }
</ul>

<div class="col-12" style="text-align:center;">
    <hr />
    <input id="btnAdd" class="btn btn-outline-warning" type="button" value="Add" onclick="AddTextBox()" />
    <br />
    <br />
    <div id="TextBoxContainer" style="text-align:center;">
        <!--Textboxes will be added here -->
    </div>


</div>


<script src="~/js/jquery.min_3.6.0.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script>

    function AddPage() {
        var data = new FormData();
        var sel = $("#txtpagename").val();
        var selA = $("#txtpageAname").val();
        var selE = $("#txtpageEname").val();
        data.append("PageName", sel)
        data.append("PageAName", selA)
        data.append("PageEName", selE)


            var $j = jQuery.noConflict();
            $.ajax({
                type: "POST",
                url: "/PageDetails/AddPage",
                data: data,
                dataType: 'json',
                contentType: false,
                processData: false,
                jsonp: true,
                success: function (result) {

                    window.location.href = '@Url.Action("Index", "PageDetails")'
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function GetDynamicTextBox() {
            var div = $("<div />");
            div.append("<label for= 'cars' > Choose a Type:</label >  "
                +"<label for= 'fname' > First name:</label ><br> "
                + "<input type='text' class='form - control' id='txtpagename'/><br>"
                + "<input type='text' class='form - control' id='txtpageAname'/><br>"
                + "<input type='text' class='form - control' id='txtpageEname'/><br>"
                +"<button type='button'  class='btn btn-outline-warning'  id='btnM' onclick='AddPage(this)'> <span class='fa  fa-plus'></span></button>"
                +"<button class='btn btn-outline-danger remove' onclick='RemoveTextBox(this)'  type='button'><span class='fa  fa-trash'></span></button>");

            document.getElementById("btnAdd").style.display = "none";
            return div;
        }
        function AddTextBox() {
            var div = GetDynamicTextBox("");
            $("#TextBoxContainer").append(div);
        }
        function RemoveTextBox(button) {
            $(button).parent().remove();
            document.getElementById("btnAdd").style.display = "";
        }
        $(function () {
            var values = eval('@Html.Raw(ViewBag.Values)');
            if (values != null) {
                $("#TextBoxContainer").html("");
                $(values).each(function () {
                    $("#TextBoxContainer").append(GetDynamicTextBox(this));
                });
            }
        });

</script>